* {
    font-family: 'Charm', cursive; 
    font-family: 'Oswald', sans-serif; 
    font-size: 16px;
}

h1 {
    font-family: Charm;
    font-size: 4rem;
    margin: 0;
    line-height: 3rem;
    padding-top: 2rem;
}

h2 {
    font-family: Oswald;
    font-size: 2rem;
    margin: 0;
    font-style: italic;
}

h3 {
    font-size: 1.5rem;
    text-align: center;
}


header {
    background-color: rgb(70, 138, 64);
    display: flex;
    padding-left: 2.5rem;
    margin-bottom: 3rem;
}

.top1 {
    flex-grow: 1;
    align-items: center;
    font-size: 3rem;
    
}

.top {
    display: flex;
    gap: 7rem;
    justify-content: flex-end;
    list-style-type: none;
    padding: 2rem;
    margin-right: 3em;
    
}

a {
    font-size: 2.5rem;
    text-decoration: none;
    font-family: Oswald;
    color: azure;
}

a:hover {
    color: black;
    font-size: 3rem;
}   

figcaption {
    color: azure;
    padding-left: 2rem;
    font-size: 2rem;
    padding-bottom: .8rem;
    /* border-bottom: 5px solid green; */
    background-color: green;
}

.parks {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    background-color: rgb(96, 188, 88);
}

.camps {
    max-width: 100%;
}  

.camps1 {
    max-width: 100%;
}

.camps2 {
    max-width: 100%;
}

.places {
    margin-bottom: 3rem;
    background-color: rgb(96, 188, 88);
    max-width: 100%;
}

.friday1  {
    max-width: 100%;
}

.friday2 {
    max-width: 100%;
}

.beach {
    max-width: 100%;
}


.eats {
    margin-bottom: 3rem;
    background-color: rgb(96, 188, 88);
    padding-bottom: 2rem;
}

.eats {
    margin-bottom: 3rem;
    background-color: rgb(96, 188, 88);
    max-width: 100%;
}

.shake {
    max-width: 100%;
}

.thumbs {
    margin-bottom: 3rem;
    background-color: rgb(96, 188, 88);
    max-width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.cc {
    max-width: 22%;
}

.steaks {
    max-width: 22%;
}

.wc {
    max-width: 22%;
}

.grate {
    max-width: 22%;
}

 .footer {
    display: flex;
    justify-content: center;
    background-color: rgb(70, 138, 64);
    padding: 2rem;
    gap: 5rem;
    list-style-type: none;
 }

 .foot {
    color: black;
    text-align: center;
    color: azure;
 }

@media screen and (max-width: 470px) {
    header {
        display: inline-block;
        background-size: auto;
        padding-right: 2rem;
    }  
    h1 {
        font-size: 3rem;
    } 
    .top {
        display: inline-block;
    }

    .thumbs {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cc {
        justify-content: center;
        min-width: 75%;
    }
    .steaks {
        min-width: 75%;
    }        
    .wc {
        min-width: 75%;
    }
    .grate {
        min-width: 75%;
    }
}
